extends layout/profile.jade

- from "mixins.jade" import render_project_overview

block profile_name
  = user.profile.full_name

block profile_tagline
  | A tagline goeth here.

block main_content
  .container.home
    #homepage.profile-page
      .row
        .twelve.columns
          .featured-page
            .feature-img
              img.attachment-profile-img.wp-post-image(src=url_for('user.image', user_slug=user.slug), alt='profile_img')
            ul.social-icons
              li
                a.link-facebook(href='http://facebook.com/', target='_blank')
                  span.organicon-facebook(aria-hidden='true')
              li
                a.link-twitter(href='http://twitter.com/', target='_blank')
                  span.organicon-twitter(aria-hidden='true')
              li
                a.link-linkedin(href='http://linkedin.com/', target='_blank')
                  span.organicon-linkedin(aria-hidden='true')
              li
                a.link-dribbble(href='http://dribbble.com/', target='_blank')
                  span.organicon-dribbble(aria-hidden='true')
              li
                a.link-skype(href='skype://MySkypeName', target='_blank')
                  span.organicon-skype(aria-hidden='true')
              li
                a.link-google(href='https://plus.google.com/', target='_blank')
                  span.organicon-googleplus(aria-hidden='true')
              li
                a.link-pinterest(href='http://pinterest.com/', target='_blank')
                  span.organicon-pinterest(aria-hidden='true')
              li
                a.link-github(href='http://github.com/', target='_blank')
                  span.organicon-github(aria-hidden='true')
              li
                a.link-instagram(href='http://instagram.com/', target='_blank')
                  span.organicon-instagram-2(aria-hidden='true')
              li
                a.link-youtube(href='http://youtube.com/', target='_blank')
                  span.organicon-youtube(aria-hidden='true')
              li
                a.link-email(href='mailto:myemail@mysite.com', target='_blank')
                  span.organicon-envelop(aria-hidden='true')
            h2.headline.text-center= user.profile.full_name
            .resident-bio
              = user.profile.bio
            //- .organic-column.one-half
            //- .organic-column.one-half.last
              
            .clearboth
            //- p
              .align-center.text-center
                a.more-link(href='http://organicthemes.com/demo/profile/professional/#more-113') Read More
    .profile-projects
      .row
        .twelve.columns
          h2.headline.borderless.text-center My Projects
          for project in user.profile.projects
            .project
              .image
                if project.image
                  img(src=url_for('project.image', project_slug=project.slug), alt='Community Supported Everything')
                else
                  img(src='/static/images/project-empty-400x266.png', alt='Community Supported Everything', width=900)
              .span4
                h5= project.name
                p= project.content