#page-about.pages.page-about
  .container
    header
      h4.line-divider About
      h1 Who We Are
      .row
        .span8.offset2
          p
            | We are in our pilot year, and we currently have 5 residents, all working on a different community project of their own design.
    article
      .thumbnails.about-items(style='margin-left: 2em;')
        ul.thumbnails.about-items
          for user in residents
            li.span2.center
              .item
                img.img-circle(src=url_for('user.image', user_slug=user.slug), alt=user.profile.full_name)
                .about-overlay.img-circle
                  a.profile-link(href=url_for('user.profile', user_slug=user.slug)) View Profile
              h5= user.profile.full_name
                br
              p.smallFontBy08= user.profile.short_bio
              p
                a.profile-link(href=url_for('user.profile', user_slug=user.slug)) Read more...
         